{% extends 'ProgBundle::layoutDashboard.html.twig' %}

{% block title %}Bienvenido{% endblock %}

{% block head %}

{% endblock %}


{% block content %}
<br>
<br>
<span>No tiene permisos sobre el modulo: {{NombreModulo}}</span>
<br>
<span>Grupo: {{grupo}}</span>
<br>
<span>Modulo: {{modulo}}</span>
  
{% endblock %}
